/* 
    Document   : widget
    Created on : Jun 19, 2010, 6:31:19 PM
    Author     : ovaistariq
    Description:
        Holds the style information for the widget
*/

ul#blog_feed_container {
	list-style  : none;
	margin      : 0px 0px 10px 0px;
	font-family : Georgia;
}

ul#blog_feed_container li.feed-item {
	border-bottom  : 1px dotted #D2D2D2;
	margin         : 5px 10px;
	padding-bottom : 5px;
}

ul#blog_feed_container .feed-author {
	margin : 2px 5px 0px 0px;
}

ul#blog_feed_container .feed-author img {
	height : 45px;
	width  : 45px;
}

ul#blog_feed_container .feed-title {
	font-size      : 13px;
	margin-bottom  : 3px;
	text-transform : none;
}

ul#blog_feed_container .feed-author-name {
	font           : bold 11px Arial,Helvetica,sans-serif;
	text-transform : uppercase;
	color          : #999999
}